
.BoxMicro {
    position: absolute;
	/* top: 90%;
    left: 93%; */
	bottom: 10%;
	
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
  animation: BtnMin 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
}

.button {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
    cursor: pointer;
}

@keyframes BtnMin {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #167a6e;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #065D54;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
    cursor: pointer;
}

.mic-icon {
	height: 30px;
	position: absolute;
	margin: 10px;
}

.BtonCerrarVoice {
    color: black;
    padding: 4px 8px;
    border-radius: 100%;
}

.centrarAlasMalas{
	display: grid;
	justify-content: center;
	align-items: center;
}