*,
*::before,
*::after {
  box-sizing: border-box;
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
main > div {
  display: inline-block;
  width: 3px;
  height: 100px;
  margin: 0 7px;
  background: black;
  transform: scaleY(0.5);
  opacity: 0.25;
}
main.error {
  color: #f7451d;
  min-width: 20em;
  max-width: 30em;
  margin: 0 auto;
  white-space: pre-line;
}
