<div class="row iconosCAC">
    <div class="col-6">
        <img src="../img/LOGO CAC_Colores y Blanco.png" alt="" style="width: 100%;">
    </div>
    <div class="col-1 contenedorLinea">
        <center>
            <div class="linea"></div>
        </center>
    </div>
    <div class="col-5">
        <img src="../img/15-años-logo-Negro.png" style="width:100%" alt="">
    </div>
</div>


<div class="row contenedorADA">
    <div class="col-12  ImgADA ">
        <center>
            <img src="../img/ADA/ADAFrente.gif" style="width:100%;" alt="" id="Ada" >
        </center>
        <div class="contenedorBocaADA">
            <div id="sprite-container" class="ContenedorBocca quit bocaAda">
                <div id="sprite-image">
                </div>
            </div>
        </div>
    </div>

</div>