<!--Modal-->
<div id="modal-02" class="ContenedorModal">
    <div class="d-flex justify-content-end btonSalir close-modal-02 pt-3 pb-5 pe-5" id="btn-close-modal">
        <button id="boton" class="BtonCerrar" onclick="disableAutoplay()">
            <i id="flecha" class="fa-solid fa-x"></i>
        </button>
    </div>

    <!-- Btn invisible  -->

    <div id="modal-02" class="close-modal-02 invisiblecont">
        <button id="botonFinal">
            btn Pro
        </button>
    </div>
    <!-- Btn invisible  -->

    <div class="ContenedorVideo pe-4">
<!-- 
        <video id="myVideo" width="100%" height="550" controls="controls">
            <source type="video/mp4">
        </video> -->

        <video id="myVideo" width="100%" controls="controls">
            <source type="video/mp4">
        </video>

    </div>
</div>