<div class="headerVideos">
    <center>
        <div class=" YoutubeCAC">
            <i class="fa-brands fa-youtube iconoYoutube"></i>
            <h4 class="TituloYoutubeCAC ">Youtube CAC</h4>
        </div>
    </center>
</div>

<div class="ColumnVideosContenedors">

    <div class="Videos">

        


        <!--libro VIH.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/libro VIH.mp4')" id="btn1">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
                <center>
                    <div class="cuadro">VH</div>
                </center>
              <h5 class="card-title">Libros VH y SIDA</h5>
              <p class="card-text">¿Como acceder a los libros de la situación del VIH y SIDA en la
                población afiliada al SGSSS?</p>
              
            </div>
        </a>
        <!--libro VIH.mp4 -->

    <!--Cancer.mp4-->
    <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/libros cancer.mp4')" id="btn2">
        <img src="../img/fondo-15.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Libros cáncer</h5>
          <p class="card-text">¿Como acceder a los libros de la situación del cáncer en la
            población afiliada al SGSSS?</p>
          
        </div>
    </a>
    <!--Cancer.mp4 -->
        

    <!--Video ARCAC -->
    <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/ArCAC.mp4')" id="btn3">
        <img src="../img/video.jpg  " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ArCAC</h5>
          <p class="card-text">¿Que es ArCAC y como pódemos usarlo?</p>
          
        </div>
    </a>
    <!--Video ARCAC-->


    <!--Video Libro ERC -->
    <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/libro ERC.mp4')" id="btn4">
        <img src="../img/fondo-15.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Libros ERC </h5>
          <p class="card-text">¿Como acceder a los libros de la situación de la enfermedad renal crónica,HTA Y DM en la
            población afiliada al SGSSS?</p>
          
        </div>
    </a>

    <!--Video Libro ERC -->

    <!--Video Video libro de investigación -->

        
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"  onclick="enableAutoplay(myVideo,'../img/videos/libros investigacion.mp4')" id="btn5">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
               
               
               
              <h5 class="card-title">Libros investigación 2021 </h5>
              <p class="card-text">¿Como acceder a los libros de producción de investigación?</p>
              
            </div>
        </a>
        <!--Video Video libro de investigación -->


        <!--Video Hepatitis C  -->

        
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"  onclick="enableAutoplay(myVideo,'../img/videos/libro VHC.mp4')" id="btn6">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Libros hepatitis C</h5>
              <p class="card-text">¿Como acceder a los libros de la situación de la hepatitis C en la población afiliada al SGSSS?</p>
              
            </div>
        </a>
        <!--Video Hepatitis C -->



        <!--Libro AR.mp4  -->

        
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"  onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Libros artritis reumatoide</h5>
              <p class="card-text">¿Como acceder a los libros de la situación de la artritis reumatoide en la población afiliada al
                SGSSS?</p>
              
            </div>
        </a>
        <!--Libro AR.mp4-->


        <!--Consenso Melanoma.mp4   -->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO MELANOMA.mp4')" id="btn8">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consenso melanoma</h5>
              <p class="card-text">¿Cómo acceder a los indicadores de gestión del riesgo en pacientes con melanoma en Colombia?</p>
              
            </div>
        </a>
        <!--Consenso Melanoma.mp4 -->

        <!--Consenso LAP.mp4 
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 18rem;"   onclick="enableAutoplay(myVideo,'../img/videos/Consenso LAP.mp4')" id="btn9">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Indicadores de gestión</h5>
              <p class="card-text">¿Como acceder a los indicadores de gestión del riesgo en pacientes con pediátricas en Colombia?</p>
              
            </div>
        </a>
        Consenso LAP.mp4 -->


        <!--modelo ERC.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/modelo ERC.mp4')" id="btn10">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Modelo ERC</h5>
              <p class="card-text">¿Que es el modelo predictivo poblacional de enfermedad cronica y como acceder a el ?</p>
              
            </div>
        </a>
        <!--modelo ERC.mp4 -->


        <!--HT transplante renal.mp4 -->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/HT transplante renal.mp4')" id="btn11">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Herramienta trasplante renal </h5>
              <p class="card-text">¿Cómo acceder a la herramienta tecnica de transplante renal ?</p>
              
            </div>
        </a>
        <!--HT transplante renal.mp4 -->


        <!--HT hemofilia.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/HT hemofilia.mp4')" id="btn12">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Herramienta técnica hemofilia</h5>
              <p class="card-text">¿Cómo acceder a la herramienta tecnica de diagnostico y tratamiento de la hemofilia ?</p>
              
            </div>
        </a>
        <!--HT hemofilia.mp4-->

        <!--HT criterios dialisis.mp4 -->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/HT criterios dialisis.mp4')" id="btn13">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Herramienta técnica criterio dialisis</h5>
              <p class="card-text">¿Cómo acceder a la herramienta técnica de las recomendaciones para la definicion de criterios de inclusión a diálisis para pacientes  con ERC estado 5?</p>
              
            </div>
        </a>
        <!--HT criterios dialisis.mp4-->



        <!--CONSENSO VIH.mp4 -->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO VIH.mp4 ')" id="btn14">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consenso VIH</h5>
              <p class="card-text">¿Cómo acceder al consenso basado en la evidencia de indicadores mínimos para evaluar resultados de gestión y clínicos en instituciones de atención a personas viviendo con VIH en Colombia?</p>
              
            </div>
        </a>
        <!--CONSENSO VIH.mp4-->

        <!--CONSENSO NEFROPROTECCIÓN.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;"   onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO NEFROPROTECCIÓN.mp4')" id="btn15">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consenso nefroprotección</h5>
              <p class="card-text">¿Cómo acceder a los indicadores mínimos para evaluar los resultados clínicos en pacientes incluidos en programas de nefroprotección para estadios 1 a 4 y 5 sin diálisis?</p>
              
            </div>
        </a>
        <!--CONSENSO NEFROPROTECCIÓN.mp4-->


        <!--CONSENSO LINFOMAS.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO LINFOMAS.mp4')" id="btn16">
            <img src="../img/video.jpg  " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consenso linfomas</h5>
              <p class="card-text">¿Cómo acceder a los indicadores de gestión del riesgo en pacientes con Linfoma en Colombia?</p>
              
            </div>
        </a>
        <!--CONSENSO LINFOMAS.mp4-->


        <!--CONSENSO LEUCEMIAS PED.mp4-->
        <a  href="#modal-02" class="demo02 card VideosCont" style="width: 16rem;" onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO LEUCEMIAS PED.mp4')" id="btn17">
            <img src="../img/fondo-15.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consenso leucemias pediátricas</h5>
              <p class="card-text">¿Cómo acceder a los indicadores de gestión del riesgo en pacientes con leucemias pediátricas en Colombia?</p>
              
            </div>
        </a>
        <!--CONSENSO LEUCEMIAS PED.mp4-->




        <!--CONSENSO LEUCEMIAS PED.mp4
        <a href="#modal-02" class="demo02 rowPArecida VideosCont"
            onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO LEUCEMIAS PED.mp4')" id="btn17">
            <div class="col-4 iconoplay"><i class="fa-solid fa-circle-play "></i></div>
            <div class="col-8 pt-2 titulosVideos">
                <h6 class="">Consenso leucemias pediátricas</h6>
                <h7>¿Cómo acceder a los indicadores de gestión del riesgo en pacientes con leucemias pediátricas en Colombia?</h7>
            </div>
        </a>

        CONSENSO LEUCEMIAS PED.mp4-->

        <!--CONSENSO CÁ PULMÓN-Mac Studio de Angie.mp4
        <a href="#modal-02" class="demo02 rowPArecida VideosCont"
            onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO CÁ PULMÓN-Mac Studio de Angie.mp4')" id="btn18">
            <div class="col-4 iconoplay"><i class="fa-solid fa-circle-play "></i></div>
            <div class="col-8 pt-2 titulosVideos">
                <h6 class="">Consenso cáncer de pulmón</h6>
                <h7>¿Cómo acceder a los indicadores de gestión del riesgo en pacientes con cáncer de Pulmón en Colombia?</h7>
            </div>
        </a>

        CONSENSO CÁ PULMÓN-Mac Studio de Angie.mp4-->


        
        <!--CONSENSO AR.mp4
        <a href="#modal-02" class="demo02 rowPArecida VideosCont"
            onclick="enableAutoplay(myVideo,'../img/videos/CONSENSO AR.mp4')" id="btn20">
            <div class="col-4 iconoplay"><i class="fa-solid fa-circle-play "></i></div>
            <div class="col-8 pt-2 titulosVideos">
                <h6 class="">Consenso artritis reumatoide</h6>
                <h7>¿Como acceder a los indicadores de gestión del riesgo en pacientes con artritis reumatoide en Colombia?</h7>
            </div>
        </a>
        CONSENSO AR.mp4-->

        <!--HIGIA.mp4
        <a href="#modal-02" class="demo02 rowPArecida VideosCont"
            onclick="enableAutoplay(myVideo,'../img/videos/HIGIA.mp4')" id="btn21">
            <div class="col-4 iconoplay"><i class="fa-solid fa-circle-play"></i></div>
            <div class="col-8 pt-2 titulosVideos">
                <h6 class="">HIGIA</h6>
                <h7>¿Como acceder a la plataforma Hechos-Información-Gestión-Innovación-Acción?</h7>
            </div>
        </a>
        HIGIA.mp4-->



        <!-- Videos -->
    </div>

</div>