<!-- <div class="ColumnVideosContenedors"> -->

<h3 class="text-white pt-1 pb-3 "><b id="Saludar"></b></h3>

<div class="contenedorVideosSpoty">





    <!-- OtrosVideos -->
    <div class="row pb-3">
        <div id="myWorkContent">


            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/SISCAC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>SISCAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Que es y para qué sirve</p>
                        <p class="invisiblespoty">sss</p>


                    </article>
                </a>
            </div>

            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/SISCAC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>LA CAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Como segura la información</p>
                        <p class="pl-about">la CAC</p>


                    </article>
                </a>
            </div>


            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/SISCAC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Evolución Tecno.</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Como ha sido la evolucion </p>
                        <p class="pl-about">tecnológica de la CAC</p>


                    </article>
                </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Auditoria</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Como se audita la información</p>
                    <p class="pl-about">en la CAC</p>


                </article>
            </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Datos y la CAC</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Ciclo de vida del dato  en </p>
                    <p class="pl-about">la CAC</p>


                </article>
            </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Blockchain en salud</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Es posible montar blockchain</p>
                    <p class="pl-about">en la salud de colombia?</p>


                </article>
            </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Mecanismos expost</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Calculos de mecanismos </p>
                    <p class="pl-about">expost en linea</p>


                </article>
            </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Gestión de riesgo</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Gestión de riesgo Tableros</p>
                    <p class="pl-about">de secretaria</p>


                </article>
            </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Analítica Predictiva</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Gestión de conocimiento</p>
                    <p class="pl-about"> a futuro</p>


                </article>
            </a>
            </div>



            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1"> 
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>Analítica Predictiva</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Cuáles son las herramientas</p>
                    <p class="pl-about">tecnológicas en la CAC </p>


                </article>
            </a>
            </div>
        </div><!-- end myWorkContent -->
    </div>

    <div class="row">
        <h5 class="text-white ">Como acceder a</h5>
        <div id="myWorkContent">
            <div class="contenedorVideoCart">
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>HIGIA</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Como ha sido la evolucion </p>
                    <p class="pl-about">tecnológica de la CAC</p>


                </article>
            </div>

            <div class="contenedorVideoCart">
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>HIGIA</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Como ha sido la evolucion </p>
                    <p class="pl-about">tecnológica de la CAC</p>


                </article>
            </div>


            <div class="contenedorVideoCart">
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>HIGIA</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Como ha sido la evolucion </p>
                    <p class="pl-about">tecnológica de la CAC</p>


                </article>
            </div>
            <div class="contenedorVideoCart">
                <article class="cardSpoty">
                    <div class="cover">
                        <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                        <div class="cover__text">
                            <div class="PrimerCuadro bg-primary"></div>
                            <div class="SegundoCuadro bg-primary"></div>
                            <div class="TituloVideoCAC">
                                <h6> <b>HIGIA</b></h6>

                            </div>

                        </div>
                        <div class="pb-wrapper">
                            <button class="play-buttom">&#x2bc8</button>
                        </div>
                        <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                    </div>
                    <div class="descripcion"></div>

                    <p class="pl-about">Como ha sido la evolucion </p>
                    <p class="pl-about">tecnológica de la CAC</p>


                </article>
            </div>





        </div><!-- end myWorkContent -->
    </div>
</div>


<!-- </div> -->