<!-- <div class="ColumnVideosContenedors"> -->

<h3 class="text-white pt-1 pb-3 "><b id="Saludar"></b></h3>

<div class="contenedorVideosSpoty">

    



    <!-- OtrosVideos -->
    <div class="row pb-5">
        <div id="myWorkContent">
            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')" id="btn1"><img
                            src="../img/ImgVideos/SISCAC.jpg" ></a>
                    <div class="PrimerCuadro colorAzul"></div>
                    <div class="SegundoCuadro colorAzul"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>SISCAC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es y para qué sirve</p>
                    <p class="invisible">ss</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart defuminadoMelo" id="Tecnologia">
                    <a href="#modal-02" class="demo02"
                        onclick="enableAutoplay(myVideo,'../img/videos/seguridad de la informacion1.mp4')" id="btn7"><img
                            src="../img/simbolo_cac_color.png " ></a>
                    <div class="PrimerCuadro colorRosado"></div>
                    <div class="SegundoCuadro  colorRosado"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>LA CAC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Como segura la información</p>
                    <p>la CAC</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02"
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="../img/ImgVideos/Evolucion.jpg" ></a>
                    <div class="PrimerCuadro colorVerde"></div>
                    <div class="SegundoCuadro colorVerde"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Evolución Tecnología</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Como ha sido la evolucion</p>
                    <p>tecnológica de la CAC</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02"
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="../img/ImgVideos/Auditoria2.jpg" ></a>
                    <div class="PrimerCuadro colorAzul"></div>
                    <div class="SegundoCuadro colorAzul"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Auditoria</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Como se audita la información</p>
                    <p>en la CAC</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="../img/ImgVideos/Interaopera.png" ></a>
                    <div class="PrimerCuadro colorRosado"></div>
                    <div class="SegundoCuadro colorRosado"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Interoperabilidad</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es interoperar con la CAC</p>
                    <p class="invisible">ss</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro colorVerde"></div>
                    <div class="SegundoCuadro colorVerde"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Datos y la CAC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Ciclo de vida del dato en la CAC</p>
                    <p class="invisible">ss</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/blockchain5.mp4')" id="btn7"><img
                            src="../img/ImgVideos/BlockChain.jpg" ></a>
                    <div class="PrimerCuadro colorAzul"></div>
                    <div class="SegundoCuadro colorAzul"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Blockchain en salud</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>¿Es posible montar blockchain</p>
                    <p>en salud ?</p>
                </div>
            </div>


            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro colorRosado"></div>
                    <div class="SegundoCuadro colorRosado"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Mecanismos expost</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Calculos de mecanismos expost </p>
                    <p>en linea</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro colorVerde"></div>
                    <div class="SegundoCuadro colorVerde"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Gestión de riesgo</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>La gestión de riesgo en territorio</p>
                    <p>-Tableros de secretaria</p>
                </div>
            </div>


            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="../img/ImgVideos/Auditoria.jpg " ></a>
                    <div class="PrimerCuadro colorAzul"></div>
                    <div class="SegundoCuadro colorAzul"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Analítica Predictiva</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Gestión de conocimiento a futuro</p>
                    <p class="invisible">Ss</p>
                </div>
            </div>


            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro colorRosado"></div>
                    <div class="SegundoCuadro colorRosado"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Herramientas tecno.</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Cuáles son las herramientas</p>
                    <p>tecnológicas en la CAC para todos</p>
                </div>
            </div>







        </div><!-- end myWorkContent -->
    </div>

    <div class="row">
        <h5 class="text-white ">Como acceder a</h5>
        <div id="myWorkContent">
            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/2_HIGIA.mp4')" id="btn7"><img
                            src="../img/ImgVideos/Higia.jpg" ></a>
                    <div class="PrimerCuadro bg-primary"></div>
                    <div class="SegundoCuadro bg-primary"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>HIGIA</b></h6>
                        
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es y para que sirves</p>
                    <p class="invisible">SSS</p>
                </div>
            </div>



            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/1_ARCAC.mp4')" id="btn7"><img
                            src="../img/ImgVideos/ARCAC.png" ></a>
                    <div class="PrimerCuadro bg-warning"></div>
                    <div class="SegundoCuadro bg-warning"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>ARCAC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Modelo predictivo de artritis</p>
                    <p> reumatoide </p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/3_MODELO PREDICRIVO.mp4')" id="btn7"><img
                            src="../img/ImgVideos/ModeloPre.png"></a>
                    <div class="PrimerCuadro colorRosado"></div>
                    <div class="SegundoCuadro colorRosado"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Modelo ERC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es y para que sirves</p>
                    <p>Que es y para que sirves</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/4_CONSENSOS.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro bg-warning"></div>
                    <div class="SegundoCuadro bg-warning"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>Consensos</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es y para que sirves</p>
                    <p>Que es y para que sirves</p>
                </div>
            </div>

            <div class="contenedorVideoCart">
                <div class="headerVideoCart" id="Tecnologia">
                    <a href="#modal-02" class="demo02  "
                        onclick="enableAutoplay(myVideo,'../img/videos/LIBRO AR.mp4')" id="btn7"><img
                            src="http://placekitten.com/200/200/"></a>
                    <div class="PrimerCuadro bg-danger"></div>
                    <div class="SegundoCuadro bg-danger"></div>
                    <div class="TituloVideoCAC">
                        <h6> <b>SISCAC</b></h6>
                    </div>
                </div>
                <div class="bodyCartVideo ">
                    <p>Que es y para que sirves</p>
                </div>
            </div>







        </div><!-- end myWorkContent -->
    </div>
</div>


<!-- </div> -->