<div class="ContenedorVideosInvisbles"> 

<a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/blockchain5.mp4')" id="btn100"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/SISCAC SHORT.mp4')" id="btn101"></a>


    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/seguridad de la informacion1.mp4')" id="btn102"></a>


    
</div>